---
import { getHero } from "@/lib/fetch/hero";

const heroRes = await getHero();
const hero = heroRes.data;
---

<section class="hero">
  <div class="hero-slider">
    {
      hero?.images.map((img, index) => (
        <div class={`hero-slide ${index === 0 ? "active" : ""}`}>
          <img class="hero-slide-img" src={img} alt={hero?.title} />
          <div class="hero-overlay" />
          <div class="hero-content">
            <h1>{hero?.title}</h1>
            <p>{hero?.subTitle}</p>
            <a href="/universities" class="hero-btn">
              {hero?.buttonText}
            </a>
          </div>
        </div>
      ))
    }
  </div>
</section>

<script>
  const slides = document.querySelectorAll(".hero-slide");
  let currentSlide = 0;

  function nextSlide() {
    slides[currentSlide].classList.remove("active");
    currentSlide = (currentSlide + 1) % slides.length;
    slides[currentSlide].classList.add("active");
  }

  setInterval(nextSlide, 5000);
</script>
