---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import type { UniversityCard } from "@/lib/types/university";
import { routes } from "@/lib/routes";

const { universityCardData } = Astro.props as {
  universityCardData: UniversityCard;
};
---

<article class="university-card">
  <a
    href={routes.UNIVERSITIES + "/" + universityCardData.slug}
    class="card-link"
  >
    <div class="card-image">
      <Image
        src={universityCardData.image_url}
        alt={universityCardData.name}
        inferSize={true}
        width={300}
        height={200}
      />
      <div class="card-badge">
        <Icon name="mapDot" width={14} height={14} />
        {universityCardData.country}
      </div>
    </div>
    <div class="card-content">
      <h3 class="university-name">{universityCardData.name}</h3>

      <div class="university-location">
        <Icon name="mapDot" width={16} height={16} />
        <span>{universityCardData.city}</span>
      </div>

      <div class="card-footer">
        <span class="view-link">
          View Details
          <Icon name="arrowRight" width={16} height={16} />
        </span>
      </div>
    </div>
  </a>
</article>
