---
import { routes } from "@/lib/routes";
import { getAllConsultancies } from "@/lib/fetch/consultancies";
import ConsultancyCard from "./ConsultancyCard.astro";
import SectionHeading from "./../../common/SectionHeading.astro";
import ViewAllButton from "./../../common/button/ViewAllButton.astro";

const consultanciesRes = await getAllConsultancies();
const consultancies = consultanciesRes.data;
const featuredConsultancies = consultancies?.slice(0, 4);
---

<section class="section-consultancies">
  <div class="section-container">
    <div class="section-header">
      <SectionHeading
        title="Education Consultancies"
        subTitle="Work with Nepal's leading education consultants"
      />

      <ViewAllButton title="Consultancies" url={routes.CONSULTANCIES} />
    </div>

    <div class="section-inner">
      {
        featuredConsultancies?.map((consultancy) => (
          <ConsultancyCard
            name={consultancy.name}
            location={consultancy.location}
            slug={consultancy.slug}
            image_url={consultancy.image_url}
            countries={consultancy.countries}
          />
        ))
      }
    </div>
  </div>
</section>
