---
import { routes } from "@/lib/routes";

interface Props {
  name: string;
  location: string;
  slug: string;
  image_url: string;
  countries: string[];
}

const { name, location, slug, image_url, countries } = Astro.props;

const featuredCountries = countries.slice(0, 3);
---

<article class="consultancy-card">
  <a href={`${routes.CONSULTANCIES}/${slug}`} class="card-link">
    <div class="card-image">
      <img src={image_url} alt={name} />
      <div class="card-badge">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="14"
          height="14"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
        >
          <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
          <circle cx="12" cy="10" r="3"></circle>
        </svg>
        {location}
      </div>
    </div>
    <div class="card-content">
      <h3 class="consultancy-name">{name}</h3>

      <div class="countries-served">
        <span class="countries-label">Countries:</span>
        <div class="country-badges">
          {
            featuredCountries.map((country) => (
              <span class="country-badge">{country}</span>
            ))
          }
          {
            countries.length > 3 && (
              <span class="country-badge more">+{countries.length - 3}</span>
            )
          }
        </div>
      </div>

      <div class="card-footer">
        <span class="view-link">
          View Details
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
          >
            <polyline points="9 18 15 12 9 6"></polyline>
          </svg>
        </span>
      </div>
    </div>
  </a>
</article>
